/* GREETINGS */

.wrapper {
  height: 100vh;
  animation: gradient 4s ease forwards;
  background: linear-gradient(-45deg, #ffffff, #ffffff, #7db331);
  top: 0;
  left: 0;
  background-size: 400% 400%;
  z-index: -1;
  overflow: hidden;
}

.greetings {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute;
}

.center_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #5e5e63;
  padding-top: 8vmin; /* this is ~13% of the width of the image */
  padding-left: 8vmin;
  margin-bottom: 2.4vmin !important;
  font-size: 5vmin;
  display: block;
  animation: fade-in 1.2s forwards;
}

.gradient_header {
  /* Fallback: Set a background color. */
  background-color: black;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #8dc63f, #000000);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.catchphrase {
  width: 0;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding-bottom: 2.4vmin !important;
  font-size: 2vmin;
  animation: typing 1.5s steps(40, end) forwards;
  font-family: 'Courier New', monospace;
  padding-left: 8vmin;
  animation-delay: 1s;
}

.escape_layout {
  margin: auto;
  text-align: center;
}

.logo_container {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.logo_container img {
  overflow: hidden;
  width: auto;
  height: 75vmin;
  display: block;
  margin: auto;
  animation-name: dragon_spin;
  animation-duration: 0.4s;
}

@keyframes dragon_spin {
  0%   {opacity: 0; transform: rotate(-180deg);}
  5%  {opacity: 0.05; transform: rotate(-170deg);}
  10%  {opacity: 0.1; transform: rotate(-160deg);}
  20%  {opacity: 0.2; transform: rotate(-140deg);}
  30% {opacity: 0.3; transform: rotate(-120deg);}
  40% {opacity: 0.3; transform: rotate(-100deg);}
  50%  {opacity: 0.4; transform: rotate(-80deg);}
  60% {opacity: 0.4; transform: rotate(-60deg);}
  70% {opacity: 0.5; transform: rotate(-30deg);}
  80% {opacity: 0.7; transform: rotate(-20deg);}
  90% {opacity: 0.9; transform: rotate(-10deg);}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0%   {opacity: 0;}
  25%   {opacity: 0.25;}
  50%   {opacity: 0.5;}
  75%   {opacity: 0.75;}
  100%   {opacity: 1;}
}

@keyframes typing {
  from { width: 0 }
  to { width: 84% }
}

@keyframes gradient {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}

/* NAVBAR */

.link_container {
  z-index: inherit;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  padding-right: 3vmin;
  width: 100vw;
  text-align: right;
}

.navbar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100vw;
}

.top_nav {
  padding-bottom: 2.4vmin;
  padding-top: 2.5vmin;
  padding-right: 3vmin;
  padding-left: 3vmin;
}

.link_container a:link {
  text-decoration: none;
  font-size: 1.5vmin;
  font-weight: 700;
  color: #000000;
}

.link_container a:visited {
  font-size: 1.5vmin;
  font-weight: 700;
  color: #000000;
}

.link_container a:hover {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
}

/* .dashboard {
  width: 100vw;
  padding-top: 2.1vmin;
  padding-bottom: 2.1vmin;
  position: absolute;
  text-align: right;
}

.dashboard_button {
  z-index: 20;
  margin-right: 10vmin !important;
} */

.nav_logo {
  z-index: 30;
  position: absolute;
  padding-top: 2.4vmin;
  padding-bottom: 3vmin;
  padding-left: 3vmin !important;
}

.nav_logo a:link {
  text-decoration: none;
  color: #000000;
}

.link_container a:visited {
  color: #000000;
}

.nav_logo a:hover {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
}

.word_logo {
  width: 18vmin;
  height: auto;
}

/* Settings */

.control_icon {
  opacity: 0.55;
  color: #000000;
  margin: 3vmin;
}

.control_icon:hover {
  transition: opacity .25s ease-in-out;
  opacity: 1;
}

.control_panel {
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* transition to other pages */

.learn_more {
  align-items: center;
  text-align: center;
  position: absolute;
  top: 91vh;
  left: 49vw;
}

.learn_more_text {
  opacity: 0.7;
  font-size: 1.5vmin !important;
  color: #5e5e63;
  padding: 0;
  margin: 0;
}

.side_text {
  padding-top: 14%;
  white-space: nowrap;
}

.arrow {
  opacity: 0.5;
  z-index: 40;
}

.arrow:hover {
  opacity: 1;
  color: black;
}

.down_bounce {
  animation: down_bounce 2s infinite;
}

@keyframes down_bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.registration {
  display: flex;
  position: absolute;
  top: 51vh;
  left: 91vw;
}

.side_bounce {
  animation: side_bounce 2s infinite;
}

@keyframes side_bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(-15px);
  }
}
